<h1>Expense Tracker</h1>

{{#if totalIncomeAmount}}
<p>Total income amount: <span style="color: springgreen;">{{totalIncomeAmount}}</span></p>
{{/if}}

{{#if totalExpenseAmount}}
<p>Total expense amount: <span style="color: firebrick;">{{totalExpenseAmount}}</span></p>
{{/if}}

{{#if availableBalance}}
<p>Available balance: {{availableBalance}}</p>
{{/if}}
