<h1>Income Categories</h1>

{{#if message}}
<p style="color: springgreen;">
    {{message}}
</p>
{{/if}}


{{#if income_category}}
<p>income categories:</p>

{{!-- call partial with data --}}
{{!-- like react props --}}

{{>list list_data=income_category list_for="income-category"}}

{{else}}
<p>No categories found, please add a category!</p>
{{/if}}

<hr />

<form action="/income-category" method="POST" role="form">
    <div>
        <label for="category">Income Category:</label><br>
        <input type="text" name="category" id="category" placeholder="Category..." />
        {{#if errors}}
        <p style="color: firebrick;">
            {{errors.[0].category}}
        </p>
        {{/if}}
    </div>

    <button type="submit">
        Add income category
    </button>
</form>