<nav>
  <a href="/home">Home</a>
  <a href="/incomes">Manage Income</a>
  <a href="/expenses">Manage Expense</a>
  <a href="/income-category">Manage Income Category</a>
  <a href="/expense-category">Manage Expense Category</a>
</nav>